.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title1 {
  color: #363636;
  font-size:100px;
  font-weight: 200;
  line-height: 1.125;
}
.title:hover {
  color: red;
 
}

.item1 {
  padding-top: 4px;
}

.satellite {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


nav {
  display: block;
}
h2 {

font-size: larger;
font-style: oblique;
font-weight: bold;
color: red
                       
}


.outer-line {
padding-left: 350px;
padding-right: 350px;
padding-top: 30px;
padding-bottom: 30px;
text-align: center;

}

.outer-line1 {
  padding-left:150px;
  padding-right:150px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  
  }
  .inner-line1 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-shadow: -5px 3px 12px black
  }
.inner-line {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-shadow: -5px 3px 12px rgb(14, 106, 245)

  
  }

  h1 {

    font-size: larger;
    font-style: oblique;
    font-weight: bold;
    color: green
                           
    }
    .hover01 figure img {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    .hover01 figure:hover img {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    .hover03 figure:hover img {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    .notification {
      background-color: whitesmoke;
      border-radius: 25px;
      padding: 1rem;
      position: relative;
      padding-left: 100px;
      padding-right: 100px;
      position: absolute;
      width:max-content;
    align-self: center;
    left:200px;
    top:150px;

    }

    .container {
      padding-left: 100px;
      padding-right: 100px;
    }

    .button.is-success {
      border-radius: 30px;
    }

    .button.is-success:hover {
      border-radius: 30px;
      font-size: 25px;
      transition: cubic-bezier(0.23, 1, 0.320, 1);
    }
    .button.is-info.is-outlined { 
      border-radius: 30px;
    }
    .button.is-info.is-outlined:hover { 
      border-radius: 30px;
      font-size: 20px;
      background-color: rgb(0, 174, 255);
      color: black;
    }
#id1{
  
  text-align: center;
}
#id2{
  text-align: center;
}
#id3{
  text-align: center;
}

#id1:hover{
  margin-block-end: 10px; 
  border-color: seagreen;
  text-align: center;
}
#id2:hover{
  margin-block-end: 10px; 
  border-color: seagreen;
  text-align: center;
}
#id3:hover{
  margin-block-end: 10px; 
  border-color: seagreen;
  text-align: center;
}



.outer-left {
  padding-left: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  
  }
  
  .outer-left {
    padding-left:0px;
    padding-right:0px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    
    }
.contenedor {
  width:100%;
  border: outset;

}


.col1 {
 width: 6%;
 border:outset;

}

.titulotabla {
    border-bottom-style:outset;
    border-left-style:outset;
    border-right-style: outset;
    border-top-style: outset;
}

.titulotablain {
 
  
  border-right-style: inset;
 
  background-color:red;
}