body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
label{
  display: inline-block;
  width: 300px;
  font-size: x-large;
}
.field{
  display:flexbox;
  height: 50px;
font-size:x-large;
}
.button.is-success {
  background-color: #48c774;
  border-color: transparent;
  color: #fff; 
  font-size: x-large;
}

.heading {
  display: block;
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 6px;
  text-transform: uppercase;
}